*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;

    background:linear-gradient(135deg,#dff7e8,#b8f1d4,#95e1d3);

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

}

.menu{

    width:500px;

    background:white;

    border-radius:25px;

    padding:50px;

    text-align:center;

    box-shadow:0 15px 35px rgba(0,0,0,.25);

}

h1{
    color:#2e7d32;
    font-size:42px;
    margin-bottom:15px;
}

h2{

    color:#555;

    margin-bottom:35px;

    font-weight:normal;

}

input{

    width:100%;

    padding:15px;

    font-size:20px;

    border-radius:12px;

    border:2px solid #2e7d32;

    margin-bottom:30px;

    outline:none;

}

input:focus{

    border-color:#43a047;

}

button{

    width:100%;

    margin-top:15px;

    padding:16px;

    border:none;

    border-radius:12px;

    font-size:20px;

    cursor:pointer;

    background:#43a047;

    color:white;

    transition:.3s;

}

button:hover{

    background:#2e7d32;

    transform:translateY(-3px);

}

button:active{

    transform:scale(.98);

}
